body,html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

/* a:active, a:focus, a:visited {
    border: none;
} */
.error {
    font-style: italic !important;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}



@media screen and (max-width:768px){

    .navbar-collapse {
        z-index: 100000;
    }
    .navbar-collapse {
      /* text-align: center; */
    }
  }


